div {
}
div h1 {
    position: absolute;
    left: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    color: red;
}
div p {
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    top: 100px;
    left: 100px;
    color: black;
}