div {
    position: absolute;
    left: 20%;
    padding: 2px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    color: red;
}
p {
    padding: 50,50,50,50;
    border: 5px;
    border-color: aqua;
    color: red;
}